<!DOCTYPE HTML>
<html>
  <head>
    
    <style>
      h1 {text-align: center;}


      .imageNav-photo {
      width: 50px;

      /* Box-model */
      height: 50px;
}

    </style>
    
    <script src="http://www.webglearth.com/v2/api.js"></script>
    
    <script>

    function initialize() {
        var options = {
          sky: true,
          atmosphere: true,
          dragging: true,
          tilting: true,
          zooming: false,
          zoom: 2};

        var earth = new WE.map('earth_div' , options);
        WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(earth);
        
        // marker2.bindPopup("<a class=\"fancybox\"  href=\"https://www.youtube.com/embed/XGSy3_Czz8k\">Youtube<\/a>",
        // <a href="index.html">Go to index</a>
        // marker.bindPopup("<b>The New York Stock Exchange</b><br>Welcome to The Big Board!<br /><br>", {maxWidth: 150, closeButton: true}).openPopup();
        // marker.bindPopup<a href="sp500.html">S&P 500</a>
        
        //var marker = WE.marker([40.706877, -74.011265]).addTo(earth);
       //marker.bindPopup("<b>The New York Stock Exchange</b><br>S&P 500<br /><a href=\"sp500.html\">Go to S&P 500</a>", {maxWidth: 150, closeButton: true}).openPopup();
        var photoImg = '<img src="https://static.pexels.com/photos/189349/pexels-photo-189349.jpeg" height="150px" width="150px"/>';
        var marker = WE.marker([40.706877, -74.011265]).addTo(earth);
        marker.bindPopup("<b>The New York Stock Exchange</b><br>S&P 500<br /><a href=\"sp500.html\"><img src='../logos/shanghai.svg.png' alt='symbol' class='imageNav-photo' ></a>", {maxWidth: 150, closeButton: true}).openPopup();


        var marker2 = WE.marker([35.6763, 139.7739]).addTo(earth);
        marker2.bindPopup("<b>Tokyo Stock Exchange (東証) </b><br>Nikkei<br /><a href=\"nikkei225\">Go to Nikkei</a> ", {maxWidth: 150, closeButton: false});
      
        // var marker2 = WE.marker([35.6763, 139.7739]).addTo(earth);
        // marker2.bindPopup("<b>Tokyo Stock Exchange (東証)</b><br>Nikkei<br /><a href=\"nikkei225\"><img alt=\"Nikkei\" src=\"/logos/1200px-Tokyo_Stock_Exchange_logo.svg.png\"", {maxWidth: 150, closeButton: false});

        var marker3 = WE.marker([31.23833, 121.50639]).addTo(earth);
        marker3.bindPopup("<b>Shanghai Stock Exchange (上海證券交易所)</b><br>SSE<br /><a href=\"shanghai\">Go to SSE</a>",  {maxWidth: 150, closeButton: false});
        
        // var marker3 = WE.marker([31.23833, 121.50639]).addTo(earth);
        // marker3.bindPopup("<b>Shanghai Stock Exchange (上海證券交易所)</b><br>SSEC<br /><a href=\"shanghai\"><img alt=\"SSEC\" src=\"/logos/shanghai.svg.png\"",  {maxWidth: 150, closeButton: false});

        var marker4 = WE.marker([22.542039, 114.053865]).addTo(earth);
        marker4.bindPopup("<b>Hong Kong Stock Exchange (香港聯合交易所)</b><br>Hang Seng Index<br /><a href=\"hangseng\">Go to Hang Seng</a>",  {maxWidth: 150, closeButton: false});
     
        // var marker4 = WE.marker([22.542039, 114.053865]).addTo(earth);
        // marker4.bindPopup("<b>Hong Kong Stock Exchange (香港聯合交易所)</b><br>Hang Seng Index<br /><a href=\"hangseng\"><img alt=\"HSI\" src=\"/logos/HKEX_logo_2016.svg.png\"",  {maxWidth: 150, closeButton: false});
     
        WE.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
          // attribution: '© OpenStreetMap contributors'
            attribution: '© Cummings, Simpson & Prentkowski 2020'
        }).addTo(earth);

         // Start a simple rotation animation
         var before = null;
        requestAnimationFrame(function animate(now) {
            var c = earth.getPosition();
            var elapsed = before? now - before: 0;
            before = now;
            earth.setCenter([c[0], c[1] + 0.1*(elapsed/30)]);
            requestAnimationFrame(animate);
        });
      };

    </script>
    
    <style>
      html, body{padding: 0; margin: 0; background-color: black;}
      #earth_div{top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
    </style>
    <title>Stock Exchanges</title>
  </head>
  <body onload="initialize()">

    <div id="earth_div">
        
      <h1 style="background-color:rgb(202, 202, 204);">Global stock markets in a global pandemic</h1>
      <hr />
  
    </div>

  </body>

</html>




                  <!-- <div class="container-fluid p-1" >
                    <a href="temperature.html" class="imageFocus" onclick="this.focus()">
                    <img class="card-img-bottom zoom" src="Resources\assets\images\Fig1.png" style='width:100%;' alt="Latitude vs Max Temp Graph">
                    </a>
                  </div> -->